################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/verCheck
/bin/Debug/net7.0
/obj
/.vs/ProjectEvaluation
